<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CA后台管理系统</title>

	{#  注意引入文件的方式  #}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/font.css' %}">
	<link rel="stylesheet" href="{% static 'lib/layui/css/layui.css' %}">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<link rel="stylesheet" href="{% static 'css/xadmin.css' %}">

	{#  设置网页标题图标  #}
	<link rel="icon" type="image/x-icon" href="{% static 'images/icon.ico' %}"/>

</head>
<body class="login-bg">
    <div class="login layui-anim layui-anim-up">
        <div class="message">ClubActivity-管理登录</div>
        <div id="darkbannerwrap"></div>
        <form method="post" class="layui-form" action="/login/">
	        {% csrf_token %}
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
	    <a href="/user/add/">注册</a>
	    {{ mssg }}
    </div>


{#其他layui脚本依赖layui.js，需提前引用#}
<script src="{% static 'lib/layui/layui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/xadmin.js' %}"></script>
<script>
		layui.use(['form', 'layer'],
			function () {
				$ = layui.jquery;
				var form = layui.form,
					layer = layui.layer;
				//自定义验证规则

			});


	</script>

</body>
</html>