<head>
	<meta charset="UTF-8">
	<title>CA后台管理系统</title>

	{#  注意引入文件的方式  #}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/font.css' %}">
	<link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
	<link rel="stylesheet" href="{% static 'css/xadmin.css' %}">

	{#  设置网页标题图标  #}
	<link rel="icon" type="image/x-icon" href="{% static 'images/icon.ico' %}"/>

</head>
<body>
{#其他layui脚本依赖layui.js，需提前引用#}
<script src="{% static 'layui/layui.js' %}"></script>
<script>
	//注意：导航 依赖 element 模块，否则无法进行功能性操作
	layui.use('element', function () {
		var element = layui.element;

		//…
	});
</script>
<script type="text/javascript" src="{% static 'js/xadmin.js' %}"></script>
{% block content %}

{% endblock %}

</body>
