{% extends "base.html" %}
{% block content %}
	<!-- 顶部开始 -->
	<div class="container">
		<div class="logo">
			<a href="/index/">CA后台管理系统</a></div>
		<div class="left_open">
			<a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
		</div>
		<ul class="layui-nav right" lay-filter="">
			<li class="layui-nav-item">
				<a href="javascript:;">{{ username }}</a>
				<dl class="layui-nav-child">
					<!-- 二级菜单 -->

					<dd>
						<a href="/logout/{{ username }}">退出</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item to-index">
				<a href="/index/">前台首页</a></li>
		</ul>
	</div>
	<!-- 顶部结束 -->
	<!-- 中部开始 -->
	<!-- 左侧菜单开始 -->
	<div class="left-nav">
		<div id="side-nav">
			<ul id="nav">
				<li>
					<a href="javascript:;">
						<i class="iconfont left-nav-li" lay-tips="教室管理">&#xe6da;</i>
						<cite>教室管理</cite>
						<i class="iconfont nav_right">&#xe697;</i></a>
					<ul class="sub-menu">

						<li>
							<a onclick="xadmin.add_tab('所有教室','//',true)">
								<i class="iconfont">&#xe6a7;</i>
								<cite>所有教室</cite></a>
						</li>
						<li>
							<a onclick="xadmin.add_tab('教室入库增加','//')">
								<i class="iconfont">&#xe6a7;</i>
								<cite>教室增加与入库</cite></a>
						</li>
						<li>
							<a href="javascript:;">
								<i class="iconfont">&#xe70b;</i>
								<cite>会员管理</cite>
								<i class="iconfont nav_right">&#xe697;</i></a>
							<ul class="sub-menu">
								<li>
									<a onclick="xadmin.add_tab('会员删除','//')">
										<i class="iconfont">&#xe6a7;</i>
										<cite>会员删除</cite></a>
								</li>
								<li>
									<a onclick="xadmin.add_tab('等级管理','//')">
										<i class="iconfont">&#xe6a7;</i>
										<cite>等级管理</cite></a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont left-nav-li" lay-tips="教室出借管理">&#xe6da;</i>
						<cite>教室出借管理</cite>
						<i class="iconfont nav_right">&#xe697;</i></a>
					<ul class="sub-menu">
						<li>
							<a onclick="xadmin.add_tab('学生及电子凭证','//')">
								<i class="iconfont">&#xe6a7;</i>
								<cite>学生/教室出借</cite></a>
						</li>
						<li>
							<a onclick="xadmin.add_tab('学生及电子凭证的增加','//')">
								<i class="iconfont">&#xe6a7;</i>
								<cite>学生及电子凭证的增加</cite></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont left-nav-li" lay-tips="学生教室归还查询">&#xe6da;</i>
						<cite>学生教室归还查询</cite>
						<i class="iconfont nav_right">&#xe697;</i></a>
					<ul class="sub-menu">
						<li>
							<a onclick="xadmin.add_tab('读者及借书证','//')">
								<i class="iconfont">&#xe6a7;</i>
								<cite>学生/教室出借</cite></a>
						</li>

					</ul>
				</li>


				<li>
					<a href="javascript:;">
						<i class="iconfont left-nav-li" lay-tips="管理员管理">&#xe726;</i>
						<cite>管理员管理</cite>
						<i class="iconfont nav_right">&#xe697;</i></a>
					<ul class="sub-menu">
						<li>
							<a onclick="xadmin.add_tab('管理员添加','//')">
								<i class="iconfont">&#xe6a7;</i>
								<cite>管理员添加</cite></a>
						</li>
						<li>
							<a onclick="xadmin.add_tab('角色管理','//')">
								<i class="iconfont">&#xe6a7;</i>
								<cite>管理员信息</cite></a>
						</li>
						<li>
							<a onclick="xadmin.add_tab('部门管理','//')">
								<i class="iconfont">&#xe6a7;</i>
								<cite>部门和组的创建</cite></a>
						</li>
						<li>
							<a onclick="xadmin.add_tab('权限管理','//')">
								<i class="iconfont">&#xe6a7;</i>
								<cite>权限管理</cite></a>
						</li>

					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont left-nav-li" lay-tips="用户管理">&#xe6b8;</i>
						<cite>用户管理</cite>
						<i class="iconfont nav_right">&#xe697;</i></a>
					<ul class="sub-menu">
						<li>
							<a onclick="xadmin.add_tab('添加用户','/user/add/')">
								<i class="iconfont">&#xe6a7;</i>
								<cite>添加用户</cite></a>
						</li>
					</ul>
					<ul class="sub-menu">
						<li>
							<a onclick="xadmin.add_tab('管理用户','/user/')">
								<i class="iconfont">&#xe6a7;</i>
								<cite>管理用户</cite></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont left-nav-li" lay-tips="时间表">&#xe723;</i>
						<cite>时间表</cite>
						<i class="iconfont nav_right">&#xe6ef;</i></a>
					<ul class="sub-menu">
						<li>
							<a onclick="xadmin.add_tab('添加表','/schedule/add/')">
								<i class="iconfont">&#xe6a7;</i>
								<cite>添加表</cite></a>
						</li>
					</ul>
					<ul class="sub-menu">
						<li>
							<a onclick="xadmin.add_tab('管理表','/schedule/')">
								<i class="iconfont">&#xe6a7;</i>
								<cite>管理表</cite></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont left-nav-li" lay-tips="活动申请教室管理">&#xe6da;</i>
						<cite>活动申请教室管理</cite>
						<i class="iconfont nav_right">&#xe697;</i></a>
					<ul class="sub-menu">
						<li>
							<a onclick="xadmin.add_tab('添加活动','/activity/add/')">
								<i class="iconfont">&#xe6a7;</i>
								<cite>添加活动</cite></a>
						</li>
					</ul>
					<ul class="sub-menu">
						<li>
							<a onclick="xadmin.add_tab('管理活动','/activity/')">
								<i class="iconfont">&#xe6a7;</i>
								<cite>管理活动</cite></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont left-nav-li" lay-tips="其它页面">&#xe6b4;</i>
						<cite>其它页面</cite>
						<i class="iconfont nav_right">&#xe697;</i></a>
					<ul class="sub-menu">
						<li>
							<a onclick="xadmin.add_tab('更新日志','/log/')">
								<i class="iconfont">&#xe6a7;</i>
								<cite>更新日志</cite></a>
						</li>
					</ul>
					<ul class="sub-menu">
						<li>
							<a onclick="xadmin.add_tab('失败','/fail/')">
								<i class="iconfont">&#xe6a7;</i>
								<cite>失败</cite></a>
						</li>
					</ul>
					<ul class="sub-menu">
						<li>
							<a onclick="xadmin.add_tab('所有数据','/activity/search/')">
								<i class="iconfont">&#xe6a7;</i>
								<cite>所有数据</cite></a>
						</li>
					</ul>
				</li>

			</ul>
		</div>
	</div>
	<!-- <div class="x-slide_left"></div> -->
	<!-- 左侧菜单结束 -->
	<!-- 右侧主体开始 -->
	<div class="page-content">
		<div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
			<ul class="layui-tab-title">
				<li class="home">
					<i class="layui-icon">&#xe68e;</i>我的桌面
				</li>
			</ul>
			<div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
				<dl>
					<dd data-type="this">关闭当前</dd>
					<dd data-type="other">关闭其它</dd>
					<dd data-type="all">关闭全部</dd>
				</dl>
			</div>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<iframe src='/log/' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
				</div>
			</div>
			<div id="tab_show"></div>
		</div>
	</div>
	<div class="page-content-bg"></div>
	<style id="theme_style"></style>
	<!-- 右侧主体结束 -->
	<!-- 中部结束 -->
{% endblock %}
